* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    color: #3a3a3a;
    font: 700 17px Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
header {
    color: #fafafa;
    background-color: #4471ff;
}
header .container {
    display: flex;
    align-items: center;
    gap: 10px;
}
img {
    width: 35px;
}
h1 {
    font-size: 36px;
}

/* Main */
p {
    margin: 20px auto 30px;
    font-size: 24px;
    text-align: center;
}
form {
    width: 350px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input, textarea {
    display: block;
    margin: 5px 0;
    padding: 4px 5px;
    border: 1px solid #98b1ff;
    border-radius: 2px;
    color: inherit;
    font: 400 16px Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
}
input:focus, textarea:focus {
    border-color: #4471ff;
}
textarea {
    width: 100%;
    min-height: 120px;
    resize: vertical;
}
button {
    display: block;
    width: 120px;
    margin: 15px 0 0 auto;
    padding: 8px;
    border: none;
    border-radius: 2px;
    color: #fafafa;
    font: inherit;
    background-color: #4471ff;
    transition: .4s;
    cursor: pointer;
}
button:hover {
    background-color: #224cd4;
}